.client {
  padding-bottom: 94px;
  padding-top: 94px;
}
.client__title {
  margin-bottom: 50px;
  @include font(36px, 700, 42px, 0.03em);
  text-align: center;
  color: var(--second-text-color);
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.client-list__item {
  flex-basis: calc((100% - 30px * 6) / 6);
  margin-right: 30px;
}
.client-list__link {
  width: 170px;
  height: 92px;
  @extend %center-list;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  color: var(--icon-main-color);
  transition: border-color var(--duration-main) var(--timing-main),
    color var(--duration-main) var(--timing-main);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
.client-list__icon {
  fill: currentColor;
}
